@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Montserrat, system-ui, sans-serif;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
  /* color: aqua; */
}

* {
  box-sizing: border-box;
  font-weight:100;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
*::-webkit-scrollbar {
  display: none;
}

.backdrop{
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
}
.invertBg {
  -webkit-backdrop-filter: hue-rotate(120deg);
  backdrop-filter: hue-rotate(120deg);
}
.textShadow{
  text-shadow: 0 0 2px black, 0 0 5px black, 0 0 7px black;
}

.synesthesigns {
  background-color: #ceff46;
  background-image: linear-gradient(45deg, rgb(255, 0, 0), rgb(255, 251, 0), rgb(136, 255, 0), rgb(0, 255, 242), rgb(132, 0, 255));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
.textGradient{
  background-color: #ceff46;
  background-image: linear-gradient(90deg, white, rgb(0, 255, 242), rgb(132, 0, 255));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}